<div>
  <h3>
      <a href="/reviews/{{this._id}}">{{this.title}}</a>
  </h3>

  <h4>{{this.movieTitle}}</h4>

  <p>{{this.description}}</p>

  <p>
      <a href="/reviews/{{this._id}}/edit">Edit Review</a>
  </p>

  <p>
      <form method="POST" action="/reviews/{{this._id}}?_method=DELETE">
          <button class="btn btn-primary" type="submit">Delete Review</button>
      </form>
  </p>
</div>
<hr>