<h1>Now Playing</h1>

{{#each movies}}
  <li>{{this.title}}</li>
  <a href="/movies/{{this.id}}">
      <img src='https://image.tmdb.org/t/p/w400{{this.poster_path}}'/>
      </a>
      <p>{{this.overview}}</p>
{{/each}}

<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie.trailer_youtube_id}}?rel=0"></iframe>
</div>