<h1>Now Playing</h1>
<div class="row">
    {{#each movies}}
      <h2>{{this.title}}</h2>
      <a href="/movies/{{this.id}}">
          <img src='https://image.tmdb.org/t/p/w400{{this.poster_path}}' alt="{{this.title}}"/>
          </a>
      <br>
      <br>
          <p>{{this.overview}}</p>
          <br>
    {{/each}}
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{movie.trailer_youtube_id}}?rel=0"></iframe>
</div>